@import "scss_tests_constants.scssimport";

#sass-tests { zoom: 1; /* prop this rule open */ }

$dashy: dashed;

.sass-dashy-left-border-transition {
  border-left: $dashy;
  border-right: $external-dotty;

  transition: transform 1s ease 0s; // Autoprefix expanded
}
